body
{
	background-image:url('/images/bg.jpg');
}

#section1
{
	background:yellow;
}

#section2
{
	background:green;
}

#section2 p
{
	text-decoration:underline;
}

a.reference,
h1, 
footer
{
	background:red;
	color:#fff;
}

.reference
{
	text-decoration:none;
	font-weight:bold;
}