.popup
{
	width:350px;
	min-height:100px;
	border:3px ridge gray;
	background-color:lightgray;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-125px;
	z-index:199;
	opacity:1;
	text-align:center;
	padding:0;
	border-radius:10px;
	box-shadow:10px 10px 10px #333333;
	border-style: solid; 
    border-width: 86px 86px 88px 87px; 
    -moz-border-image: url(http://www.magadamdeco.fr/images/cadre-photo.png) 86 86 88 87 stretch; 
    -webkit-border-image: url(http://www.magadamdeco.fr/images/cadre-photo.png) 86 86 88 87 stretch; 
    -o-border-image: url(http://www.magadamdeco.fr/images/cadre-photo.png) 86 86 88 87 stretch; 
    border-image: url(http://www.magadamdeco.fr/images/cadre-photo.png) 86 86 88 87 fill stretch;
	animation:mouvement 4s;
}

.popup h2
{
	margin:0;
	padding:0;
	background:#294790;
	color:aliceblue;
	text-align:left;
	padding:0px 10px;
}

.popup p
{
	padding:15px;
	text-align:justify;
}

.popup button
{
	margin-bottom:20px;
	font-weight:bold;
	font-size:1.2em;
}

.fondPopup
{
	width:100%;
	height:100%;
	position:fixed;
	background-color:gray;
	opacity:0.5;
	top:0;
	left:0;
}